header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* Place the header above the slider */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Home Header {
  position: relative;
  padding: 0;
  margin: 0;
  transition: ease 0.3s;
}

/*///////////////// NavBar /////////////*/

.Home Header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
  border-bottom: var(--gold-main) solid ;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  max-height: 100%;
  transition: ease 0.3s;
}

.nav-menu {
  order: 3;
  display: flex;
  list-style: none;
  margin-left: 10px;
  padding: 20px;
  transition: ease 0.3s;
  border-radius: 0px;
  align-items: center;
  border-bottom: var(--gold-second) solid;
  
}

.nav-menu li a{
  font-size: 18px;
}

.nav-menu li {
  padding-left: 30px;
  padding-right: 30px;
  flex: 0 0 auto; 
  color: var(--second-color);
  padding-top: 5px;
  padding-bottom: 5px;
  transition: ease 0.3s;
  border-bottom: transparent solid;
}
 
.nav-menu li:hover {
   border-bottom: var(--gold-main) solid;
   transition: ease 0.3s;
   background-color: rgba(0, 0, 0, 0.045);
}

.nav-menu li:hover a {
  color: var(--gold-main)!important;
  transition: ease 0.3s;
}

.langg{
  order: 2;
  align-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.167);
}

.langg a{
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.ع{
  padding: 5px 10px 5px 15px;
  background-color: #000000;
  color: white;
}

.E{
  padding: 5px 15px 5px 15px;
  background-color: var(--gold-second);
}

.ع:hover{
  opacity: 0.6;
}

.E:hover{
  padding: 5px 15px 5px 15px;
  background-color: var(--gold-second);
  opacity: 0.6;
}



.logo{
  transition: ease-in-out 0.3s;
  padding: 5px;
  padding-top: 10px;
  order:1;
  margin-right: auto;
  text-align: center;
}

.logo:hover{
  transform: scale(1.05);
}

.logo img{
  width: 90%;
  height: 90%;
}




/*///////////////// body /////////////*/

.image-container {
  position: relative;
}

.overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.699); /* Adjust the last value for opacity */
  pointer-events: none; /* Allow interactions with the image behind */
  z-index: 1;
}

.swiper {
  width: 100%;
  z-index: 1;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.slider-text {
  z-index: 2;
  opacity: 0; /* Initially set opacity to 0 for the fade-in effect */
  transition: opacity 2.5s ease;
}

.slider-text.fade-in {
  opacity: 1; /* Set opacity to 1 to fade in */
}

.slider-text-h1-div{
  background-color: #000000;
}

.swiper-slide h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 56px;
  z-index: 2;
}

.hdiv{
  background-color: #000000;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 10px;
  transition: ease 0.3s ;
}

.hdiv:hover{
  background-color: #1c1c1c;
}

.hdiv span{
  color: var(--gold-main);
}

.hdiv a{
  text-decoration: none;
  transition: ease 0.3s;
}

.hdiv h2{
  font-size: 20px;
  text-align: center;
  color: white;
  transition: ease 0.3s;
}

.hdiv h2:hover{
  color: var(--gold-second);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
}

.autoplay-progress {
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 2;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--gold-main );
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--gold-second);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
  
}

.stars {
  z-index: 2;
}

.star {
  animation: glow 3s infinite;
  transition: ease 25s;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
  90% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.1;
  }
  0% {
    opacity: 0;
  }
  
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-bar {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  transition: ease 0.4s;
}

.burger-bar.cross:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.burger-bar.cross:nth-child(2) {
  opacity: 0;
}

.burger-bar.cross:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -6px);
}

.nav-menu-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: -100%; 
  width: 50%;
  height: 100vh;
  z-index: 1;
  transition: right 0.5s ease; 
}

.nav-menu-mobile.visible {
  display: flex;
  right: 0;
  transition: right 0.5s ease; 
}

.nav-menu-mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 1027px) {
  .nav-menu {
    display: none;
  }

  .burger-menu {
    order: 3;
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  .burger-bar {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    transition: ease 0.4s;
    background-color: var(--gold-main);
  }

  .burger-bar.cross:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  .burger-bar.cross:nth-child(2) {
    opacity: 0;
  }

  .burger-bar.cross:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -6px);
  }

  .nav-menu-box {
    background-color: #000000c0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    animation: slideIn 0.5s ease; /* Animation for list items */
  }

  .nav-menu-mobile ul {
    display: flex;
  }

  .nav-menu-mobile li {
    padding: 20px;
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateX(-10px); /* Initially translate to the left */
    animation: fadeIn 0.5s forwards; /* Animation for list item entrance */
  }

  .nav-menu-mobile a {
  color: var(--gold-main);
  }
  /* Delayed entrance for each list item */
  .nav-menu-mobile li:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .nav-menu-mobile li:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .nav-menu-mobile li:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .nav-menu-mobile li:nth-child(4) {
    animation-delay: 0.5s;
  }
  
  .nav-menu-mobile li:nth-child(5) {
    animation-delay: 0.6s;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .logo{
    transition: ease-in-out 0.3s;
    order: 2;
    margin-right: auto;
    margin-left: auto;
    text-align: center; /* Center the logo horizontally */
  }

  .langg{
    display: block;
    order: 1;
    padding: 0;
    margin: 0;
    transform: scale(0.7);
  }
  
  
  .logo img{
    width: 90%;
    height: 90%;
  }

  .swiper-slide img {
    display: block;
    width: auto; 
  }

  .swiper-slide h1 {
    font-size: 36px;
    
  }
  
  .hdiv{
    
    top: 80%;
    left: 52%;
  }
}

@media screen and (max-width: 767px) {
  .logo img{
    margin-right: 16px;
  }
}